@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ede8f5;
    --foreground: #171717;
    --primary: 61, 82, 160;
    --border: #bcbcbc;
    --commentsection: #d6cae8;
    --card: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: 85, 99, 171;
        --background: #121212;
        --foreground: #ededed;
        --card: #282828;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    @apply m-8
}

main {
    @apply max-w-5xl mx-auto
}

/* custom classes */
.header {
    @apply text-xl font-bold text-primary leading-none;
}

.paragraph {
    @apply my-4
}